<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New York Times Articles</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="header">
        <a class="logo-link" href="/">
            <img class="logo" alt="NYT Logo" src="https://lh4.googleusercontent.com/rAu6Oi1vFIlx747JxosPs9qs3vd08vqU49L1eLWojiWrIIAj5xDEcdSwYS_AeGLwSGR6HmWnkeKk7DZJN3oReVQOop8b7q29kzkC3DEAS3XRtv828wTac8OPlPsdQwgOwd573PaF">
        </a>
    </div>
    <div id="search-home">
        <h1 id="title">Search the NYT:</h1>
        <div class="search-container">
            <form method="post">
                <input id="search" type="text" name="search_term" placeholder="Enter search term">
                <a href="results.html">
                    <button id="search-button" type="submit">Search</button>
                </a>
            </form>
        </div>
    </div>
    
</body>
</html>
